*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100vh;
}


.h-310{
    height: 310px;
}

.h-20{
    height: 20%;
}

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}


.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.flex-end{
    flex: end;
}

.flex-d-c{
    flex-direction: column;
}

.a-t-e{
    align-items: end;
}

.j-c-c {
    justify-content: center;
}

.j-c-e {
    justify-content: space-evenly;
}

.a-t-c {
    align-items: center;
}

.f-s-30 {
    font-size: 30px;
}

.f-s-20 {
    font-size: 20px;
}

.position-f{
    position:fixed;
}

.bg-gray {
    background-color: gray;
}

.bg-black {
    background-color: black;
}

.bg-yellow {
    background-color: yellow;
}

.bg-white {
    background-color: white;
}

.color {
    color: white;
}

.padding-20 {
    padding: 20px;
}

.padding-10 {
    padding: 10px;
}

.padding-5 {
    padding: 5px;
}

.b-s-3 {
    border: 3px solid black;
}

.b-r-15 {
    border-radius: 15px;
}
.m-10{
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-40{
    margin-top: 40px;
}

.flex-w{
    flex-wrap: wrap;
}

.z-5{
    z-index: 5;
}

.style-none{
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}




/* .content02{
    width: 100px;
    height: 100px;
} */

.content-img{
  width: 100px;
  height: 100px;
  object-fit: cover; 
  margin: 50px;
  border-radius: 50%;
  transition-property: all;
  transition-property: 1s;
}

.border:hover{
    border: 3px solid black;
    scale: 1.1;
}