*{
    margin: 0;
    padding: 0;
}

body{
    background-color:black;
    color: white;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border:1px solid orange;
}

.container1{
    background-color: white;
    border-radius: 15px;
    border: 5px solid white;
    background-color: gray;
    display: block;
    position:fixed;
    width:98%;
    top: 10px;
    z-index: 1;
}

.logo{
    font-size: 25px;
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 15px;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-decoration: non;
    height: 40px;
    margin-top: 20px;
    
}

a{
    height: fit-content;
    width: fit-content;
    padding: 8px;
    background-color: black;
    color: white; 
    border-radius: 15px;
    text-decoration: none;
    transition-property: all;
    transition-duration: 2s;
}

.container2{
    margin-top: 150px;
    background-color:gray;
    height: 100%;
    border-radius: 15px;
    border: 3px solid white;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    transition-property: all;
    transition-duration: 2s;
    z-index: 2;
}

p{
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.contentbox1{
    background-color: grey;
    height: fit-content;
    padding:20px;
    width: 50%;
    display: inline-block;
}

button{
    height: 50px;
    width: 100px;
    padding: 5px;
    background-color: black;
    border: 3px solid white;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    transition-property: all;
    transition-duration: 2s;
}


.contentbox2 {
    height: 450px;
    width:50%; 
    background-size:cover;
    background-image: url("gaurav.jpg");
    border-radius: 50%; 
    margin: 10px;
    transition-property: all;
    /* background-position: center; */
}

p{
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.container3{
    margin-top: 20px;
    background-color: grey;
    height: fit-content;
    border-radius: 15px;
    border: 3px solid white;
    padding:20px;
    justify-content: center ;
    width: 80%;
    transition-property: all;
    transition-duration: 2s;
    z-index: 3;

}

.about-me{
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    text-decoration: non;

    
}

.resume{
    height: fit-content;
    width: 200px;
    padding: 10px;
    background-color: black;
    color: white; 
    border-radius: 15px;
    display: inline-block;
    left: 20px;
    border: 3px solid white;
    transition-property: all;
    transition-duration: 2s;
}

.education{
    height: fit-content;
    width: 200px;
    padding: 10px;
    background-color: black;
    color: white; 
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    border: 3px solid white;
    transition-property: all;
    transition-duration: 2s;
}


.location{
    height: fit-content;
    width: 200px;
    padding: 10px;
    background-color: black;
    color: white; 
    border-radius: 15px;
    display: inline-block;
    border: 3px solid white;
    text-align: center;
    transition-property: all;
    transition-duration: 2s;
}

.container4{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color:gray;
    height: 100%;
    border-radius: 15px;
    border: 3px solid white;
    padding:20px;
    display: flex;
    justify-content: space-evenly;
    width:80%;
    transition-property: all;
    transition-duration: 2s;
    z-index: 4;

   
}

li{
    list-style: none;
}

.skillbox{
    display: flex;
    
}

.contentbox3{
    display: flex;
    
    margin-left: 20px;
    margin: 30px;
    background-color:black;
    color:white;
    height: fit-content;
    padding:20px;
    width: 25%;
    border: 3px solid white;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;

}

.container5{
   margin-top: 20px;
    background-color:gray;
    height: 100%;
    border-radius: 15px;
    border: 3px solid white;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    transition-property: all;
    transition-duration: 2s;
    z-index: 5;

}

.contentbox4{
    margin:30px;
    background-color: black;
    height:fit-content;
    padding:20px;
    width: 25%;
    border: 3px solid white;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
}

.container6{
    
    margin-top: 20px;
    background-color:gray;
    height: 100%;
    border-radius: 15px;
    border: 3px solid white;
    padding:20px;
    display: flex;
    width: 80%;
    flex-direction: column;
    transition-property: all; 
    transition-duration: 2s; 
    z-index:6;
}



#linkdin{
    font-size: 30px;
    margin-top: 20px;
    border: 3px 
    solid white;
    text-align: center;
}

footer{
    margin-top: 20px;
    height: 100%;
    border-radius: 15px;
    padding:20px;
    display: flex;
    justify-content: space-evenly;
}

.contentbox9{
    display: flex;
    justify-content: center;
    font-size: 40px;
    display:block;
    color: black;
    text-align: center;
    width: 95%;
    justify-content: center;
    
}
.contentbox10{
    display: flex;
    /* flex-direction: row;
    justify-content: center; */
}

.contentbox11{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    /* justify-content: space-evenly; */
}

.contact{
    background-color:black;
    border: 3px solid white;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    font-size: 20px;
    width: 30%;
    padding: 20px;
}
h2{
    font-size: 40px;
    display:block;
    color: black;
    text-align: center;
}


.about:hover{
    scale: 1.2;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
}

.container2:hover{
    scale: 1.2;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 6;
    margin-top: 165px;
}

.container3:hover{
    scale: 1.2;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
}

.container4:hover{
    scale: 1.2;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
}
.container5:hover{
    scale: 1.2;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container6:hover{
    scale: 1.2;
    margin-top: 50px;
    margin-bottom: 50px;
}

#contact:active{
    scale:0.5;
}

button:active{
    scale: 0.5;
}

li:active{
    scale:0.8;
}

#resume:active{
    scale: 0.5;
    background-color: white;

}
#education:active{
    scale: 0.8;
}
#location:active{
    scale: 0.8;
}

