@media (max-width: 768px){
    #containerbox2 {
        height: 50%;
        width:100%;
        border-radius: 15px;
        background-size: cover;
        background-position: center;

    }
}
@media (max-width: 768px) {index

    .container1 {
        flex-direction: column;
    }
    .container2{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
   }

    .container3 {
        flex-direction: column;
    }
    .contentbox3{
    flex-direction: column;
    align-items: center;
    width: fit-content;
   }

   .about-me{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }    

    .container4 {
        flex-direction: column;
    }

    .container5 {
        flex-direction: column;
    }
    .contentbox4{
        font-size: 30px;
        padding: 60px;
    }

    .contentbox10{
        flex-direction: column;
        align-items: center;
        width: fit-content;
   }

   .container5 {
        flex-direction: column;

    }
    
    .contentbox11{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 0%;

    }
    .skillbox{
        flex-direction: column;
    
    }
    

    
    
    .contact{
    height: 50px;
    width: 100%;
    font-size: 15px;
    padding: 5px;
   } 
   #linkdin{
    font-size: 23px;
   }
   
   .contentbox2{
    width: 100%;
   }

}
.text-con{
    width: 100%;
    text-align: center;
    
}