* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: arial;
    /* border: 1px solid red; */
    width: 100%;
    background-color:gray;
}

.b-s{
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition-property: all;

}


  /* menu hidden & menu visible */

  .visible-menu-1{
    transition-property: all;
    transition-delay:1s;
    visibility:hidden;  
    position:absolute  ;
    top: 60px;
    right: 25%;
    background-color: white;
    z-index: 3;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid black;

}

.visible-menu-2{
    transition-property: all;
    transition-delay:1s;
    visibility:hidden;  
    position:absolute  ;
    right: 3%;
    top: 60px;
    background-color: white;
    z-index: 3;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid black;

}

.hidden-menu:hover .new-customer {
    visibility: visible;
}

.hidden-menu:hover .help-link{
    visibility: visible;
}


button:active { 
    scale: 0.8;
}

a:active { 
    scale: 0.8;
}



.h-310{
    height: 310px;
}

.h-20{
    height: 20%;
}

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}


.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.a-t-e{
    align-items: end;
}

.j-c-c {
    justify-content: center;
}

.j-c-e {
    justify-content: space-evenly;
}

.a-t-c {
    align-items: center;
}

.f-s-30 {
    font-size: 30px;
}

.f-s-20 {
    font-size: 20px;
}

.position-f{
    position:fixed;
}

.bg-gray {
    background-color: gray;
}

.bg-black {
    background-color: black;
}

.bg-yellow {
    background-color: yellow;
}

.bg-white {
    background-color: white;
}

.color {
    color: white;
}

.padding-20 {
    padding: 20px;
}

.padding-10 {
    padding: 10px;
}

.padding-5 {
    padding: 5px;
}

.b-s-3 {
    border: 3px solid black;
}

.b-r-15 {
    border-radius: 15px;
}
.m-10{
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-40{
    margin-top: 40px;
}

.flex-w{
    flex-wrap: wrap;
}

.z-5{
    z-index: 5;
}

.style-none{
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%;
}

/* container1 & content1 */

.container1{
    width: 100%; 
    height:fit-content;
    background-color:#222f3d;
    overflow: scroll;
    display: flex;
    

}

.content1{
    width: 159px;
    height: 200px;
    background-color: black;
    border-radius: 15px;
    margin: 10px;
    display:flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    border: 3px solid black;
    
    
}

/* container 1 & there content image 1-8  */

.content-image1 {
    background-image: url("images/mobile1.jpg");
    background-size: cover;
    background-position: center;

}

.content-image2 {
    background-image: url("images/fashion.jpg");
    background-size: cover;
    background-position: center;
}

.content-image3 {
    background-image: url("images/Electronics.jpg");
    background-size: cover;
}

.content-image4 {
    background-image: url("images/TVs\ &\ appliances.jpg");
    background-size: cover;
    background-position: center;
}

.content-image5 {
    background-image: url("images/Home&\ Furniture.jpg");
    background-size: cover;
    background-position: center;
}

.content-image6 {
    background-image: url("images/Filght\ Bookings.jpg");
    background-size: cover;
    background-position: center;
}

.content-image7 {
    background-image: url("images/Beauty.jpg");
    background-size: cover;
    background-position: center;
}

.content-image8 {
    background-image: url("images/Grocery.jpg");
    background-size: cover;
    background-position: center;
}

  /* border & hover effects  */

.border1{
    border: 2px solid transparent;
    transition-property: all;
    transition-duration: 1s;
}

.border1:hover{
    border: 2px solid gray;
    padding: 10px;
    border-radius: 15px;
}

.border2{
    border: 5px solid black;
    transition-property: all;
    transition-duration: 1s;
}

.border2:hover{
    border: 5px solid white;
    padding: 10px;
    border-radius: 15px;
    scale: 1.1;
}

/* container2 & banner slider and slide tracker */

.container2{
    height: 350px;
    width: 100%;
    background-color:#222f3d;
    padding: 20px;
}

.banner-slider{
    overflow: hidden;
    width: 100%;
    background-color:gray;
}

.slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
}

.slide-track img{
    height: 310px;
    margin-right: 20px;
    border-radius: 15px;
}

/* section hero and content image 9 */

.hero-section{
    width: 100%;
    height: 300px;
    background-color:#222f3d;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.content-image9{
    background-image: url("images/hero01.jpg");
    width: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* container3 & content3 */

.container3{
    width: 100%;
    height: fit-content;
    background-color: #222f3d;
   
}

.content3{
    width: 50%;
    height: 330px;
    background-color:black;
   
}

/* container3 & content image */

.content-image10{
     background-image: url("https://d168jcr2cillca.cloudfront.net/uploadimages/coupons/11154-Zip_Banner.jpg");
}

.content-image11{
    background-image: url("https://www.vijaysales.com/content/dam/vijaysaleswebsite/in/en/products/laptops/8-11-25/HP%20Laptops%20CLP%20Mobile.jpg");
    background-repeat: no-repeat;
}


/* container4 & content4 */
.container4{
    width: 100%;
    height:fit-content;
    background-color: #222f3d;
    overflow:scroll;
    display: flex;
}

.content4{
    width:250px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    display: inline-block;
}     

.content-image12{
    background-image: url("https://www.bringitonline.in/uploads/2/2/4/5/22456530/bags-photography-for-amazon-flipkart-delhi-studio-bag-photography-delhi-15_orig.jpg");
    background-size: cover;
}

.content-image13{
    background-image: url("https://5.imimg.com/data5/SELLER/Default/2023/12/371531569/UG/MS/YN/3639177/dell-laptop-product.jpg");
    background-size: cover;
   
    
}

.content-image14{
    background-image: url(" https://m.media-amazon.com/images/I/71IaJKeus7L._AC_UF1000,1000_QL80_.jpg");
    background-size: contain; 
    background-repeat: no-repeat;

}

.content-image15{
    background-image: url("https://m.media-amazon.com/images/I/51R3IiwwzXL.jpg");
    background-size: cover;
}

.content-image16{
    background-image: url("https://www.jiomart.com/images/product/original/rvywjvof3g/backeto-laptop-bag-sleeve-case-cover-with-charger-pouch-for-men-women-15-6-inch-laptop-macbook-grey-product-images-orvywjvof3g-p610106115-0-202410181134.jpg?im=Resize=(420,420)");
    background-size: cover;
}

.content-image17{
    background-image: url("https://i.ebayimg.com/images/g/4BUAAOSwoMRf~x7M/s-l1200.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}

.content-image18{
    background-image: url("https://m.media-amazon.com/images/I/71u8pSg45eL._AC_UF350,350_QL80_.jpg");
    background-size: cover;
}

.content-image19{
    background-image: url("https://rukminim2.flixcart.com/image/480/640/xif0q/musical-toy/a/h/1/fashion-boy-toy-for-kids-yaayi-original-imagnsuch8rbnhcb.jpeg?q=90");
    background-size: contain;
    background-repeat: no-repeat;
}
.content-image20{
    background-image: url("https://www.practicalecommerce.com/wp-content/uploads/2021/09/Canon_EOS_5D_MarkIV.jpg");
    background-size: cover;
}

.content-image21{
    background-image: url("https://oldsold.in/cdn/shop/files/ON102804_9116de5a-8d57-42f8-9ced-c296c355223f.jpg?v=1765430284&width=533   ");
    background-size: contain;
    background-repeat: no-repeat ;
}



/* container5 & content5 */

.container5{
    width: 100%;
    height:fit-content ;
    background-color: #222f3d;
    justify-content: space-evenly;
   
}

.content5{
    width:32%;
    height: 330px;
    background-color: black;
    margin: 10px;
}

/* container 5 & there image */
.contenet-image22{
    background-image: url("https://belasea.sgp1.digitaloceanspaces.com/media/products/COSRX-FAVORITES-BEST-SELLERS-TRAVEL-SET.png");
    background-size:90%;
    
}

.contenet-image23{
    background-image: url("https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcSrTKeeWp6dG5al0ILI2KRbEpmPhjZJsAGDCdGmOafMbZT1jhFCs_eCVBI_eJjDGaLYmyAyoEQ-hrWVuzkJcDe_Jf_Ji_9a_jfZqr5wXFmsDPgCeX533anaVA");
    background-size: cover;
    
}


.contenet-image24{
    background-image: url("https://beardo.in/cdn/shop/files/BeardoBestsellerPerfumesGiftset_2160x2160_d9d4428d-cc84-443f-8d58-aeb4344e190d.jpg?v=1755606309&width=1946");
    background-size: 95%;
    
}


