@media(max-width:575px){
    .col-sm-1{
        width: 100%;
        font-size: 15px;
    }
    
} 

@media(min-width:575px){
    .col-sm-1{
        width: 100%;
        font-size: 15px;
    }
    
} 

@media(min-width:767px){
    .col-md-2{
        width: 47%;
        font-size: 15px;
    }
    
} 


@media(min-width:991px){
    .col-lg-3{ 
        width: 31%;
        font-size: 15px;
    }
    
}

@media(min-width:1190px){
    .col-xl-4{
        width: 25%;
        font-size: 15px;
    }
    
}


@media(min-width:1191px){
    .col-xxl-5{
        width: 16.66%;
        font-size: 15px;
    }
    
} 

@media(max-width:991px){
    .d-none{
        display: none;        
    }
}

@media(max-width:991px){
    .minimise{
        font-size: 20px; 
        width: 100%; 
        display: flex; 
        flex-direction: column;    
    }
}

 



/* very importent */
@keyframes scroll{
    from{ transform: translateX(0   ); }
    to{ transform: translateX(-100%); }
}



